@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#border {
    border-radius: 25px 25px 25px 25px;
  }

div {
    background: #F7F5F2;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#flower1 {
  float: left;
}

#flower2 {
  float: right;
}