@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.border {
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
  }

div {
    background: #F7F5F2;
    font-family: 'Playfair Display', serif;
    text-align: center;
}


.fonts {
    font-family: 'Playfair Display', serif;
}